<script>
  $(document).ready( function(root) {

    var Lib = root.Lib = (root.Lib || {});

    $("section#main")

      .on("ajax:success", ".like-button", function(event, data) {
        var $form = $(event.target);
        var $likes = $form.parent(".likes");
        var $html = data;

        $form.hide();
        $likes.html($html);
      })

      .on("ajax:success", ".comment-form", function(event, data) {

        var $form = $(event.target);
        var $commentList = $form.parent().siblings(".comments").children("ul");
        var html = data;

        if ($commentList.length == 0) {
          $form.parent().before("<li class=\"comments\"><ul></ul></li>");
          $commentList = $form.parent().siblings(".comments").children("ul");
        }

        $form[0].reset();

        if ($commentList.length % 2 == 1) {
          $(html).addClass("odd")
        } else {
          $(html).addClass("even")
        }

        $commentList.append(html);

        var message = "Comment added successfully!"

        Lib.notify(message, "green", $(this), "prepend", true);
      })

      .on("ajax:error", ".comment-form", function(data, error) {
        var message = error.responseText;

        Lib.notify(message, "red", $(this), "prepend", true);
      });
  })
</script>