<li class="nest no-caps">
  <%= link_to current_user.name, user_url(current_user) %>
  <ul>
    <li><a href="<%= settings_url %>">Settings</a></li>
    <li><%= link_to "Sign Out", session_url, method: :delete %></li>
  </ul>
</li>