<li class="nest">
  <% unread_notification_count = current_user.unread_notification_count %>
  <% notification_icon = (unread_notification_count == "") ?
    "icon-star-empty" : "icon-star" %>

  <i class="<%= notification_icon %>"></i>
  <span class="num"><%= unread_notification_count %></span>

  <% if unread_notification_count == "" &&
    current_user.active_notification_count == "" %>

      <ul>
        <li>No new notifications</li>
      </ul>

  <% else %>
    <ul>
      <% current_user.active_notifications.each do |notification| %>
        <li>
          <%= parse_notification(notification) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>