<div id="feed-head" class="group">
  <h1 id="feed" class="centered">Activity Feed</h1>
</div>

<ul id="col-1" class="pod half first"></ul>
<ul id="col-2" class="pod half"></ul>

<ul id="outer">
  <% @statuses.each do |status| %>
    <%= render partial: "statuses/show", locals: { status: status,
      author: @data[status].name, klass: "", vip_tour: true } %>
  <% end %>
</ul>

<%= render partial: "statuses/js" %>

<%= render partial: "statuses/organize-js" %>

<script>

$(document).ready( function(root) {
  var OuterLib = root.OuterLib = (root.OuterLib || {});

  OuterLib.fancyBoxes();

});

</script>