<div id="feed-head" class="group">
  <h1 id="feed">Activity Feed</h1>
</div>

<ul>
  <% @statuses.each_with_index do |status, i| %>
    <% klass = (i % 2 == 0) ? "half first bottom-border" : "half bottom-border" %>

    <%= render partial: "statuses/show", locals: {
      status: status, author: @data[status].name, klass: klass } %>
  <% end %>
</ul>

<%= render partial: "statuses/js" %>