<div id="profile-main" class="profile-box">

  <h3><span>Information</span></h3>

  <div class="pod two-thirds first">

	  <div class="group">

      <% if edit %>
        <%= render partial: "shared/show-and-edit", locals: { type: type,
          object: object } %>
      <% else %>
        <%= render partial: "shared/show", locals: { type: type, object:
          object } %>
      <% end %>

    </div>

    <%= render partial: "shared/contact-info",
      locals: { object: object, edit: edit } %>

  </div>

  <div class="pod third centered">
    <div class="bg white">
      <h5>Profile Picture</h5>

      <%= image_tag current_user.pic.url(:big) %>
    </div>
  </div>

</div>