<%= form_tag(status_responses_url(status), method: "post",
  class: "comment-form group", remote: true) do %>

  <div>
    <textarea name="response[body]"></textarea>
  </div>
  <button type="submit" class="buttony-link right"><%= plus %> comment</button>
<% end %>