<h1 class="centered" id="perks">Why Cufflink?</h1>

<div class="pod mini first centered">
  <i class="icon-thumbs-up icon-3x"></i>

  <div class="perk">Make Connections</div>

  <p>Connect with industry professionals to further your career ambitions.</p>
</div>

<div class="pod mini centered">
  <i class="icon-group icon-3x"></i>

  <div class="perk">Network</div>

  <p>Communicate with friends, coworkers, and industry colleagues.</p>
</div>

<div class="pod mini centered">
  <i class="icon-suitcase icon-3x"></i>

  <div class="perk">Grow Your Business</div>

  <p>Build a page, send messages, post updates, and recruit top talent.</p>
</div>