<script>
  $(document).ready( function() {
    
    var tour = function(step) {
      
      var templateCode = $("#step_" + step + "_template").html();
      var templateFn = _.template(templateCode);
      var renderedContent = templateFn();
      
      var $modal = $("<div>").addClass("modal tour").append(renderedContent)

      if (step == "1") {
        $(".backdrop").show();
      } else {
        $modal.addClass("during")
      }
      
      $("header").before($modal);
    }
    
    tour(<%= step %>);
    
    
  });
</script>

<script type="text/template" id="step_1_template">
  <h1 class="centered bottom-10">Welcome to Cufflink!</h1>
  
  <p>This VIP tour will guide you through Cufflink's features so you can learn what an awesome software engineer <a href="http://www.sarahmogin.com" target="_blank">Sarah</a> is. Remember to check out <a href="http://www.github.com/srhmgn/cufflink" target="_blank">Cufflink on GitHub</a> for even more information about the code.<p>
  
  <div class="modal-nav centered">
    <a href="?vip_tour=2">Continue</a>
  </div>
</script>

<script type="text/template" id="step_2_template">
  <p><b>Feed</b></p>
  
  <p>Your Cufflink feed features updates from all of your connections in descending order by time.</p>
  
  <p>Try <b>liking</b> and <b>commenting</b> on some statuses. Both will update live thanks to UJS.</p>
  
  <div class="modal-nav centered">
    <a href="?vip_tour=3">Continue</a>
  </div>
</script>

<script type="text/template" id="step_3_template">
  <p><b>Feed</b></p>
  
  <p>Now, click on Stan Sitwell's name (in the top left of each of his update boxes) to visit his profile.</p>
  
  <div class="centered">
    <img src="/assets/tour/ss1.png">
  </div>
</script>

<script type="text/template" id="step_4_template">
  <p><b>Profile</b></p>
  
  <p>Stan's profile features basic & contact info on its main "Information" tab.</p>
  
  <p>Click on <b>Work Experience</b> to browse Stan's work history, and <b>Updates</b> to see his status updates.</p>
  
  <p>If you hover over the <i class="icon-user"></i> icon in the top right, you'll see that Stan is a current connection.</p>
  
  <div class="modal-nav centered">
    <a href="?vip_tour=5">Continue</a>
  </div>
</script>

<script type="text/template" id="step_5_template">
  <%= tour_options %>

  <p><b>Profile</b></p>  
  
  <p>If you were still waiting on Stan to accept your connection request, you'd see a <i class="icon-time"></i> icon instead.</p>
  
  <p>There's also a <i class="icon-remove-sign"></i> icon, which will show up if a person rejected your request.</p>
  
  <p>What if you're not yet connected? Head on over to J Walter Weatherman's profile to find out.</p>
  
  <div class="modal-nav centered">
    <a href="/users/7?vip_tour=6">Visit J Walter Weather's Profile</a>
  </div>
</script>

<script type="text/template" id="step_6_template">
  <p><b>Request a Connection</b></p>
  
  <p>Click "<i class="icon-user"></i> Request Connection" on the top right and fill out the form.</p>

</script>

<script type="text/template" id="step_7_template">
  <p><b>Profile</b></p>
  
  <p>I hope J Walter Weatherman says yes! In the meantime, let's look at your notifications.</p>
  
  <div class="modal-nav centered">
    <a href="?vip_tour=8">Continue</a>
  </div>

</script>

<script type="text/template" id="step_8_template">
  <p><b>Notifications</b></p>
  
  <p>Hover over the "4" in the nav bar to see your latest notifications.</p>
  
  <div class="centered">
    <img src="/assets/tour/ss2.png">
  </div>
  
  <p>Click on the first notification to visit the status liked by Lucille.</p>

</script>

<script type="text/template" id="step_9_template">
  <p><b>Notifications</b></p>
  
  <p>We're now on Michael's status stream, where you can see the post Lucille has liked. If you hover over your notifications again, you'll see that the notification for this like is no longer bold.</p>
  
  <p>Clear your notifications by clicking the x's on the notifications window, then click below to check out your inbox.</p>
  
  <div class="modal-nav centered">
    <a href="<%= user_messages_url(current_user) %>?vip_tour=10">Visit Inbox</a>
  </div>

</script>

<script type="text/template" id="step_10_template">
  <p><b>Messages</b></p>
  
  <p>This is the end of the tour so far! Please check back soon as I'm always expanding it.</p>
  
  <div class="modal-nav centered">
    <a href="?vip_tour=end">Close</a>
  </div>
</script>