/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,900|Pacifico);

h1, h2, h3, h4, h5, h6, div, p, ul, li, div, button, form, label, input, textarea, checkbox, body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2 {
  font-family: 'Pacifico', serif;
  font-size: 24px;
}

* {
  font-family: 'Lato', arial, sans-serif;
  color: #333;
}

body {
  overflow-y: scroll;
}

input[type="text"], input[type="password"], input[type="checkbox"], input[type="date"], textarea {
  border: 1px solid black;
}

section, nav {
  width: 960px;
  margin: 0 auto;
}

section#main {
  padding-top: 80px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Nav */

header {
  background-color: #ABE1E5;
  position: fixed;
  width: 100%;
}

header > nav > h2#logo {
  font-size: 36px;
  float: left;
  padding: 0 10px 5px 0;
}

header > nav > ul#nav-left {
  list-style: none;
  float: left;
}

header > nav > ul#nav-left > li {
  float: left;
  padding: 24px 0 24px 24px;
  text-transform: uppercase;
}

header > nav > ul#nav-left > li.nest {
  position: relative;
}

header > nav > ul#nav-left > li.nest > ul {
  list-style: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear .2s, opacity 0.2s linear;
  position: absolute;
  top: 52px;
  background: #333;
  padding: 10px;
  font-size: 14px;
  width: 200px;
}

header > nav > ul#nav-left > li.nest:hover > ul {
  visibility: visible;
  opacity: 1;
  transition-delay:0s;
}

header > nav > ul#nav-left > li > a, header > nav > ul#nav-left > li.nest > ul > li > a {
  text-decoration: none;
  -webkit-transition: color .2s;
}

header > nav > ul#nav-left > li.nest > ul > li {
  padding: 0 0 7px;
}

header > nav > ul#nav-left > li.nest > ul > li:last-child {
  padding: 0;
}

header > nav > ul#nav-left > li.nest > ul > li > a {
  color: #fff;
}

header > nav > ul#nav-left > li.nest > ul > li > a > i {
  color: #fff;
  margin-left: 2px;
  position: relative;
  bottom: 1px;;
}

header > nav > ul#nav-left > li.nest > ul > li > a:hover {
  color: #ABE1E5
}

header > nav > ul#nav-left > li > a:hover {
  color: #fff;
}

header > nav > ul#nav-right {
  list-style: none;
  float: right;
}

/* Profile Nav */

ul#profile-nav {
  list-style: none;
  float: right;
  position: relative;
  bottom: 30px;
}

ul#profile-nav > li {
  float: left;
  margin-left: 10px;
}

ul#profile-nav > li.active > a {
  background-color: #ABE1E5;
  border-radius: 4px;
  color: #333;
}

ul#profile-nav > li > a {
  text-decoration: none;
  padding: 2px 4px 3px;
}

.profile-box {
  display: none;
}

#profile-info {
  display: block;
}

/* Profile Editing */

.property {

}

.property.editing > .current-value.active {
  display: none;
}

.property > .notifications.red {
  color: red;
}

.property > .notifications.green {
  color: green;
}

#edit-profile-body > div > h4 {
  /* tagline styling */
}