/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,900|Pacifico);

h1, h2, h3, h4, h5, h6, div, p, ul, li, div, button, form, label, input, textarea, checkbox, body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2 {
  font-family: 'Pacifico', serif;
}

h1 {
  font-size: 36px;
}

h3 {
  border-bottom: 2px solid #BA15A5;
  text-transform: uppercase;
  margin: 10px 0 20px;
}

h4 {
  margin-bottom: 10px;
}

h5 {
  text-align: left;
  margin-bottom: 7px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

* {
  font-family: 'Lato', arial, sans-serif;
  color: #333;
}

body {
  overflow-y: scroll;
}

input[type="text"], input[type="password"], input[type="checkbox"], input[type="date"], input#name, textarea, input[type="email"] {
  border: 1px solid black;
  font-size: 13px;
}

textarea {
  width: 100%;
}

section, nav {
  width: 960px;
  margin: 0 auto;
}

section#main {
  padding-top: 90px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

input[type="submit"] {
  background-color: #BA15A5;
  border-radius: 4px;
  color: #eee;
  padding: 2px 4px 3px;
  font-size: 16px;
  -webkit-transition: background .2s;
}

input[type="submit"]:hover {
  cursor: hand; cursor: pointer;
  background: #333;
}

/* Nav */

header {
  background-color: #ABE1E5;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header > nav > h2#logo {
  font-size: 36px;
  float: left;
  padding: 0 10px 5px 0;
}

header > nav > ul {
  list-style: none;
}

header > nav > ul#nav-left {
  list-style: none;
  float: left;
}

header > nav > ul#nav-right {
  list-style: none;
  float: right;
}

header > nav > ul > li {
  float: left;
  padding: 24px 0 24px 24px;
  text-transform: uppercase;
}

/* Profile */

#profile-top {
  margin-bottom: 20px;
}

#profile-top > h1 {
  float: left;
}

/* General Lists */

ul > li.form, ul#profile-nav > li.form {
  padding: 0;
}

ul > li > form {
  float: left;
  margin-left: 10px;
}

Original nested stuff

header > nav > ul > li.nest {
  position: relative;
}

header > nav > ul > li.nest > ul {
  list-style: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear .2s, opacity 0.2s linear;
  position: absolute;
  top: 52px;
  background: #333;
  padding: 10px;
  font-size: 14px;
  width: 200px;
}

header > nav > ul > li.nest:hover > ul {
  visibility: visible;
  opacity: 1;
  transition-delay:0s;
}

header > nav > ul > li > a, header > nav > ul > li.nest > ul > li > a {
  text-decoration: none;
  -webkit-transition: color .2s;
}

header > nav > ul > li.nest > ul > li {
  padding: 0 0 7px;
}

header > nav > ul > li.nest > ul > li:last-child {
  padding: 0;
}

header > nav > ul > li.nest > ul > li > a {
  color: #fff;
}

header > nav > ul > li.nest > ul > li > a > i {
  color: #fff;
  margin-left: 2px;
  position: relative;
  bottom: 1px;;
}

header > nav > ul > li.nest > ul > li > a:hover {
  color: #ABE1E5
}*/

header > nav > ul > li > a:hover {
  color: #fff;
}

/* Profile Nav */

ul#profile-nav {
  list-style: none;
  float: right;
  position: relative;
  top: 20px;
}

ul#profile-nav > li {
  float: left;
  margin-left: 10px;
}

ul#profile-nav > li.active > a {
  background-color: #ABE1E5;
  border-radius: 4px;
  color: #333;
}

ul#profile-nav > li > a {
  text-decoration: none;
  padding: 2px 4px 3px;
}

.profile-box {
  display: none;
}

#profile-main {
  display: block;
}

/* Profile Editing */

.property {

}

.property.editing > .current-value.active {
  display: none;
}

#edit-profile-body > div > h4 {
  /* tagline styling */
}

/* Notifications */

.notifications.red {
  color: red;
}

.notifications.green {
  color: green;
}

/* Nested Lists */

ul > li.nest {
  position: relative;
}

ul > li.nest > ul {
  list-style: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear .2s, opacity 0.2s linear;
  position: absolute;
  top: 52px;
  background: #333;
  padding: 10px;
  font-size: 14px;
  width: 200px;
}

ul > li.nest:hover > ul {
  visibility: visible;
  opacity: 1;
  transition-delay:0s;
}

ul > li > a, header > nav > ul > li.nest > ul > li > a {
  text-decoration: none;
  -webkit-transition: color .2s;
}

ul > li.nest > ul > li {
  padding: 0 0 7px;
}

ul > li.nest > ul > li:last-child {
  padding: 0;
}

ul > li.nest > ul > li > a {
  color: #fff;
}

ul > li.nest > ul > li > a > i {
  color: #fff;
  margin-left: 2px;
  position: relative;
  bottom: 1px;;
}

ul > li.nest > ul > li > a:hover {
  color: #ABE1E5
}

/* Specific to Each Location */

header > nav > ul > li.nest > ul {
  top: 52px;
}

ul#profile-nav > li {
  padding: 2px 4px 3px;
}

ul#profile-nav > li.nest:hover {
  background-color: #ABE1E5;
  padding: 2px 4px 3px;
  border-radius: 4px;
}

ul#profile-nav > li.nest > ul {
  top: 36px;
  left: 1px;
}

/* Pods */

.pod {
  float: left;
  margin-left: 30px;
  padding: 9px;
  border: 1px solid #eee;
}

.gray {
  background: #eee;
  padding: 9px;
  border: 1px solid #eee;
}

.half {
  width: 445px;
}

.third {
  width: 280px;
}

.two-thirds {
  width: 610px;
}

.first {
  margin-left: 0;
}

.centered {
  text-align: center;
}

/* Status */

li.status {
  margin-bottom: 40px;
}

li.status > form {
  float: none;
}

/* Autocomplete */
span.ui-helper-hidden-accessible {
  background: yellow;
  display: block;
}

ul.ui-autocomplete {
  margin-left: -500px;
  z-index: 1;
  max-width: 280px;
}

ul.ui-autocomplete > li.ui-menu-item {
  max-height: 20px;
  position: relative;
  background: yellow;
}

ul.ui-autocomplete > li.ui-menu-item > a {
  position: absolute;
  top: 0;
  left: 0;
}