/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,900|Pacifico);

h1, h2, h3, h4, h5, h6, div, p, ul, li, div, button, form, label, input, textarea, checkbox, body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2 {
  font-family: 'Pacifico', serif;
}

h1 {
  font-size: 36px;
}

h3 {
  background: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h3 > span {
  background: #eee;
  margin-left: 20px;
  padding: 10px;
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  padding-bottom: 0px;
  border-bottom: 2px solid #ccc;
}

h5 {
  text-align: left;
  margin-bottom: 7px;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.regular {
  font-weight: none;
}

.hidden {
  display: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

* {
  font-family: 'Lato', arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  overflow-y: scroll;
  color: #333;
  background: #666;
  font-size: 16px;
}

input[type="text"], input[type="password"], input[type="checkbox"], input[type="date"], input#name, textarea, input[type="email"] {
  border: 1px solid black;
  font-size: 16px;
}

textarea {
  width: 100%;
}

div#alerts {
  padding: 10px;
  background: #feeb1e;
}

section, nav {
  width: 980px;
  margin: 0 auto;
}

section#main {
  padding: 90px 20px 20px;
  background: #eee;
}

section#main.alert {
  padding-top: 129px;
}

section#main a {
  color: #333;
  background: #fff;
  padding: 3px;
  border-radius: 4px;
}

section#main a:hover {
  background: transparent;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

input[type="submit"] {
  background-color: #FEEB1E;
  border-radius: 4px;
  color: #333;
  padding: 2px 4px 3px;
  font-size: 16px;
  -webkit-transition: background .3s;
}

input[type="submit"]:hover {
  cursor: hand; cursor: pointer;
  background: #333;
  color: #eee;
}

/* Nav */

header {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header > nav > h2#logo {
  font-size: 38px;
  height: 0;
  text-align: center;
  padding: 0 10px 5px 0;
  color: #eee;
  font-weight: normal;
  letter-spacing: 2px;
}

header > nav > ul {
}

header > nav > ul#nav-left {
  float: left;
}

header > nav > ul#nav-right {
  float: right;
}

header > nav > ul > li {
  float: left;
  padding: 24px 0 24px 24px;
  text-transform: none;
  color: #eee;
}

header > nav > ul > li > i {
  color: #FEEB1E;
}

header > nav > ul > li > a {
  color: #eee;
}

header > nav > ul > li > a:hover {
	color: #FEEB1E;
}

header > nav > ul#nav-left > li:first-child {
  padding-left: 0;
}

header > nav > ul > li.no-caps {
  text-transform: none;
}

header > nav > ul > li.no-caps > ul {
  text-transform: none;
}

/* Profile */

#profile-top {
  margin-bottom: 25px;
}

#profile-top > h1 {
  float: left;
}

/* General Lists */

ul > li.form, ul#profile-nav > li.form {
  padding: 0;
}

ul > li > form {
  float: left;
  margin-left: 10px;
}

/* Profile Nav */

ul#profile-nav {
  float: right;
  position: relative;
  top: 20px;
}

ul#profile-nav > li {
  float: left;
  margin-left: 10px;
}

ul#profile-nav > li.active > a {
  background-color: #FEEB1E;
  border-radius: 4px;
  color: #333;
}

ul#profile-nav > li > a {
  text-decoration: none;
  background: transparent;
  padding: 2px 4px 3px;
  color: #333;
}

ul#profile-nav > li > a:hover {
	background-color: #FEEB1E;
	border-radius: 4px;
}

ul#profile-nav > li.button {
  background: #fff;
  border-radius: 4px;
  -webkit-transition: background .3s;
}

ul#profile-nav > li.button:hover {
  background: #aaa;
}

ul#profile-nav > li.button > a:hover {
  background: transparent;
}

.profile-box {
  display: none;
}

#profile-main {
  display: block;
}

#profile-nav abbr {

}

/* Profile Display */

.property {
  margin-bottom: 20px;
}

.property.property-half {
	width: 50%;
	float: left;
}

i.editing {
  font-size: 10px;
  position: relative;
  bottom: 1px;
}

i.icon-remove.editing {
  font-size: 11px;
  bottom: 2px;
}

.property.editing > .current-value.active {
  display: none;
}

.current-value, section#main a.buttony-link {
  background: #feeb1e;
  padding: 2px 5px;
  -webkit-transition: background .3s;
}

.current-value:hover, section#main a.buttony-link:hover {
  cursor: hand; cursor: pointer;
  background: #ccc;
}

span.current-value {

}

section#main a.buttony-link {
  border-radius: 0;
  font-size: 16px;
  font-weight: normal;
  float: right;
}

section#main a.buttony-link.experience-link {
  float: none;
}

section#main a.buttony-link.add-contact {
  position: relative;
  bottom: -1px;
  }
}

#edit-profile-body > div > h4 {
  /* tagline styling */
}

ul.edit {
  max-width: 640px;
  float: left;
}

/* Notifications */

.notifications.red {
  color: red;
}

.notifications.green {
  color: green;
}

.excerpt > div, .message > div {
  font-weight: normal;
  padding-left: 8px;
  padding-right: 8px;
  font-size:14px;
}

/* Nested Lists */

ul > li.nest {
  position: relative;
}

ul > li.nest > ul {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear .3s, opacity 0.3s linear;
  position: absolute;
  top: 52px;
  background: #333;
  padding: 0 10px;
  font-size: 16px;
  width: 250px;
}

ul > li.nest:hover > ul {
  visibility: visible;
  opacity: 1;
  transition-delay:0s;
}

ul > li > a, header > nav > ul > li.nest > ul > li > a {
  text-decoration: none;
  -webkit-transition: color .3s;
  -webkit-transition: background .3s;
}

ul > li.nest > ul > li > a {
  padding: 3px 5px;
  display: block;
}

ul > li.nest > ul > li:first-child {
  margin-top: 10px;
}

ul > li.nest > ul > li:last-child {
  margin-bottom: 10px;
}

ul > li.nest > ul > li > a {
  color: #fff;
}

/*ul > li.nest > ul > li > a > i {
  color: #fff;
  margin-left: 2px;
  position: relative;
  bottom: 1px;;
}*/

ul > li.nest > ul > li > a:hover {
  color: #333;
}

/* Specific to Each Location */

ul > li.nest > ul > li > a > .link-text {
  width: 216px;
  float: left;
}

ul > li.nest > ul > li > .delete-link {
  float: right;
  margin-top: -6px;
}

ul > li.nest > ul > li > .delete-link:hover {
  background: transparent;
}

ul > li.nest > ul > li > .delete-link:hover > i {
  color: #feeb1e;
}

header > nav > ul > li.nest > ul {
  top: 52px;
  background: #FEEB1E;
}

header > nav > ul > li.nest > ul > li {
	color: #333
}

header > nav > ul > li.nest > ul > li:hover {
  background-color: #fff;
}

header > nav > ul > li.nest > ul > li a {
	color: #333;
}

header > nav > ul > li.nest > ul > li a:hover {
	color: #333;
	background-color: #fff;
}

ul#profile-nav > li {
  padding: 2px 4px 3px;
}

ul#profile-nav > li.nest:hover {
  background-color: #FEEB1E;
  padding: 2px 4px 3px;
  border-radius: 4px;
}

ul#profile-nav > li.nest > ul {
  top: 36px;
  left: 1px;
}

/* Pods */

.pod {
  float: left;
  margin-left: 30px;
  padding: 10px 0;
/*  border: 1px solid #fff;*/
}

.bg {
  padding: 10px;
}

.white {
  background: #fff;
}

.gray {
  background: #ccc;
}

.half {
  width: 475px;
}

.third {
  width: 310px;
}

.fourth {
  width: 227.5px;
}

.two-thirds {
  width: 640px;
}

.first {
  margin-left: 0;
}

.centered {
  text-align: center;
}

/* Status */

li.status {
  margin-bottom: 40px;
}

li.status > form {
  float: none;
}

/* Autocomplete */
span.ui-helper-hidden-accessible {
  background: #feeb1e;
  display: block;
}

ul.ui-autocomplete {
  margin-left: -500px;
  z-index: 20;
  max-width: 280px;
}

ul.ui-autocomplete > li.ui-menu-item {
  max-height: 20px;
  position: relative;
  background: #feeb1e;
}

ul.ui-autocomplete > li.ui-menu-item > a {
  position: absolute;
  top: 0;
  left: 0;
}

/* Modal */

div.modal {
  position: absolute;
  width: 500px;
  z-index: 10;
  background-color: #fff;
  padding: 20px;
  left: 50%;
  top: 30%;
  border-radius: 8px;
  margin-left: -270px;
  border: 5px solid #FEEB1E;
  box-shadow: 2px 2px 9px #999;
}

div.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 5;
  top: 0;
  display: none;
}

/* Badges */

span.badge {
	font-size: 12px;
	text-transform: uppercase;
	background: #333;
	color: #eee;
	padding: 1px 5px;
	border-radius: 2px;
	display: block;
	float: right;
}

/* Regular Lists */

ul.regular {
  list-style: initial;
  margin-left: 20px;
}

ul.regular > li {
  margin-bottom: 15px;
}

ul.regular > li:last-child {
  margin: 0;
}