<script>
$(document).ready( function(root){
  var Lib = root.Lib = (root.Lib || {});

  var genUrl = Lib.genUrl = function(modelType, urlId) {
    if (modelType == "company") {
      var plural = "companies"
    } else {
      var plural = modelType + "s"
    }
    return "/" + plural + "/" + urlId;
  }

  var urlId = $('h1').attr('data-id');

  var fieldArray
  var modelType
  var fieldType
  var $activeCurrentVal
  var $property

  $(".profile-box").on("click", ".current-value", function(event) {

    var $target = $(event.target);
    $activeCurrentVal = $target.closest('.current-value')
    $activeCurrentVal.addClass("active");

    $property = $target.closest('.property')

    fieldArray = $activeCurrentVal.attr('data-field').split("-");
    modelType = fieldArray[0]
    fieldType = fieldArray[1];

    var buttons = '<button class="save">Save</button>';

    if ((fieldType !== "current") &&
      (!(fieldType == "industry" && modelType == "company"))) {
        buttons += '<button class="remove">Remove</button>';
    }

    $property.append(buttons);

    var fieldValue = ""

    if (!($target.attr("data-nil"))) {
      if (fieldType == "current") {
        if ($target[0].checked) fieldValue = "checked"
      } else {
        fieldValue = $target.text().trim();
      }
    }

    var fieldHTML = Lib.createField(fieldType, fieldValue);

    $activeCurrentVal.after(fieldHTML);
    $property.addClass("editing");

    });

  $(".profile-box").on("click", "button", function(event) {
    var $clicked_button = $(event.target);

    var $field = $clicked_button.siblings().filter('.field');

    var $other_button = $clicked_button.siblings().filter('button');

    var obj = {};

    var $containingDiv = $clicked_button.closest(".profile-data")

    if (["user", "company"].indexOf(modelType) == -1) {
      urlId = $containingDiv.attr("id");
    }

    var url = genUrl(modelType, urlId);

    // if we're saving
    if ($clicked_button.hasClass('save')) {

      var fieldNameAsHash = modelType + "[" + fieldType + "]";

      var fieldVal = $field.val();

      if (!fieldVal && ["start_date", "end_date"].indexOf(fieldType) !== -1) {
        Lib.notify("Date cannot be blank", "red", $property, "prepend",
          true);
          return;
      }

      if ($field.attr("type") == "checkbox") {
        fieldVal = $field[0].checked
      }

      obj[fieldNameAsHash] = fieldVal;

      $.ajax({
        url: url,
        type: "PUT",
        data: obj,
        success: function(data) {
          if ($field.attr("type") !== "checkbox") {
            $activeCurrentVal.text(fieldVal);
          }

          if (fieldType == "current") {
            var $endDate = $property.closest("li").find("#end-date")
            $endDate.toggleClass("hidden")
          }

          if (fieldType == "end_date") {
            var $currentStud = $property.closest("li").find("#current-student");
            $currentStud.addClass("hidden");
          }

		      $activeCurrentVal.attr("data-nil", "false");

          var message = Lib.cleanUpFieldType(fieldType, modelType)
          message += " updated successfully!"
          Lib.notify(message, "green", $property, "prepend", true)

          Lib.cleanUp($field, $clicked_button, $other_button,
            $activeCurrentVal, $property);
        },
        error: function(jqXHR) {

  	  	  if ($activeCurrentVal.attr("data-nil") === "true") {
  	  	  	var fieldValue = "";
  	  	  } else {
  	  	  	var fieldValue = $activeCurrentVal.text().trim();
  	  	  }

		      $field.val(fieldValue);

          Lib.notify(jqXHR.responseText, "red", $property, "prepend",
            true)
        }
      });

  }

  // if we're removing
  else if ($clicked_button.hasClass('remove')) {
	  obj[modelType + "[null]"] = fieldType;

      $.ajax({
        url: url,
        type: "PUT",
        data: obj,
        success: function() {
		      $activeCurrentVal.attr("data-nil", "true");
		      $activeCurrentVal.text(Lib.cleanUpFieldType(fieldType, modelType));

          if (fieldType == "end_date") {
            var $currentStud = $property.closest("li").find("#current-student");
            $currentStud.removeClass("hidden");
          }

          var message = Lib.cleanUpFieldType(fieldType, modelType)
          message += " removed successfully!"

          Lib.notify(message, "green", $property, "prepend", true)

          Lib.cleanUp($field, $clicked_button, $other_button,
            $activeCurrentVal, $property);
        }
      });
  }
  });

});
</script>
