<% if flash[:notice] || flash[:errors] %>
  <div id="alerts">
    <section>
      <%= raw("<b>Success: </b> #{flash[:notice]}") if flash[:notice] %>

      <%= flash[:errors] %>
    </section>
  </div>
<% end %>