<header>
  <nav class="group">

    <h2 id="logo">cufflink</h2>

    <% if current_user %>

      <%= render partial: "layouts/nav/logged-in/left-nav" %>

      <%= render partial: "layouts/nav/logged-in/right-nav" %>

    <% else %>

      <%= render partial: "layouts/nav/logged-out/left-nav" %>

    <% end %>
  </nav>
</header>